<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Progetto TSW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <location>/WEB-INF/View/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>Controller.NotAutorizedException</exception-type>
    <location>/WEB-INF/View/notAutorized.jsp</location>
  </error-page>
  <error-page>
    <exception-type>Controller.OrionException</exception-type>
    <location>/WEB-INF/View/orionException.jsp</location>
  </error-page>
  <context-param>
    <param-name>imagePath</param-name>
    <param-value>/OrionImages</param-value>
  </context-param>
</web-app>